<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:layout style="min-width:810px;min-height:635px;" id="dsMainL">
        <p:layoutUnit id="dsHierL" position="west" size="250" minSize="250" maxSize="350" resizable="true">
            <h:form id="dsHierForm" name="schedulerDSIndex">
                <p:commandButton value="Filter selected" actionListener="#{statementsView.displaySelected}"
                                 id="btnDisplay"/>
                <p:commandButton value="Clear filter" actionListener="#{statementsView.displayAll}"
                                 id="btnDisplayAll"/>

                <p:scrollPanel id="sp1" mode="native" style="width:240px;max-height:600px;border-bottom-width: 0px">
                    <p:tree value="#{statementsView.dsRoot}" var="node" selectionMode="single"
                            selection="#{statementsView.selectedNode}">
                        <p:treeNode>
                            <h:outputText value="#{node}"/>
                        </p:treeNode>
                    </p:tree>
                </p:scrollPanel>
            </h:form>
        </p:layoutUnit>

        <p:layoutUnit id="dsTabL" position="center">
            <h:form id="schedulerDSForm">
                <p:dataTable id="dsTab" var="ds" widgetVar="dsTable" value="#{statementsView.designStatements}" rows="6"
                             paginator="true" filteredValue="#{statementsView.filteredStatements}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15,20" lazy="false"
                             scrollable="true" update="schedulerTabView:dsHierForm:btnDisplay schedulerTabView:dsHierForm:btnDisplayAll"
                             resizableColumns="false" liveResize="false" draggableColumns="true">

                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Search all fields:"/>
                            <p:inputText id="globalFilter" onkeyup="PF('dsTable').filter()" style="width:150px"
                                         placeholder="Enter keyword"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column style="width:16px">
                        <p:rowToggler rendered="#{ds.testCases.size() gt 0}"/>
                    </p:column>

                    <p:column headerText="Id" filterBy="#{ds.id}" filterMatchMode="contains">
                        <h:outputText value="#{ds.id}"/>
                    </p:column>

                    <p:column headerText="Statement" filterBy="#{ds.statement}" filterMatchMode="contains">
                        <h:outputText value="#{ds.statement}"/>
                    </p:column>

                    <p:column headerText="Release">
                        <h:outputText value="#{ds.release}"/>
                    </p:column>

                    <p:column headerText="Risk">
                        <h:outputText value="#{ds.risk}"/>
                    </p:column>

                    <p:rowExpansion>

                        <p:panelGrid columns="1" columnClasses="label" style="width:300px">
                            <f:facet name="header">
                                <h:outputText value="Test Cases"/>
                            </f:facet>

                            <ui:repeat value="#{ds.testCases}" var="dstc">
                                <p:commandButton value="#{dstc}"
                                                 actionListener="#{statementsView.setTempTC(dstc)}"
                                                 update="schedulerTabView:schedulerDSForm:detDialog"
                                                 oncomplete="PF('dlg3').show();"
                                                 style="width:300px">
                                </p:commandButton>
                            </ui:repeat>
                        </p:panelGrid>
                    </p:rowExpansion>

                </p:dataTable>

                <p:dialog id="detDialog" header="#{statementsView.tempTC}" widgetVar="dlg3"
                          showEffect="explode" hideEffect="clip" width="60%">

                    <p:dataGrid var="testCase" value="#{statementsView.tempTCData}" columns="1" layout="grid"
                                rows="1" paginator="false">

                        <p:outputPanel>
                            <h:panelGrid columns="2" cellpadding="5">
                                <h:outputText value="Id:"/>
                                <h:outputText value="#{testCase.id}" style="font-weight: bold"/>

                                <h:outputText value="Description:"/>
                                <h:outputText value="#{testCase.description}" style="font-weight: bold"/>

                                <h:outputText value="Precondition:"/>
                                <h:outputText value="#{testCase.precondition}" style="font-weight: bold"/>

                                <h:outputText value="Input:"/>
                                <h:outputText value="#{testCase.testInput}" style="font-weight: bold"/>

                                <h:outputText value="Output:"/>
                                <h:outputText value="#{testCase.testOutput}" style="font-weight: bold"/>

                                <h:outputText value="Phase:"/>
                                <h:outputText value="#{testCase.reviewPhases}" style="font-weight: bold"/>
                            </h:panelGrid>
                        </p:outputPanel>
                    </p:dataGrid>
                </p:dialog>
            </h:form>

        </p:layoutUnit>
    </p:layout>
</ui:composition>