<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:layout style="min-width:810px;min-height:635px;" id="vtpMainL">
        <p:layoutUnit id="vtpHierL" position="west" size="250" minSize="250" maxSize="350" resizable="true">
            <h:form id="vtpHierForm" name="schedulerVTPIndex">
                <!-- update="schedulerTabView:j_idt17:vtpTab" -->
                <p:commandButton value="Filter selected" actionListener="#{testCasesView.displaySelected}"
                                 id="btnDisplay"/>
                <p:commandButton value="Clear filter" actionListener="#{testCasesView.displayAll}"
                                 id="btnDisplayAll"/>

                <p:scrollPanel id="sp1" mode="native" style="width:240px;max-height:600px;border-bottom-width: 0px">
                    <p:tree value="#{testCasesView.vtpRoot}" var="node" selectionMode="single"
                            selection="#{testCasesView.selectedNode}">
                        <p:treeNode>
                            <h:outputText value="#{node}"/>
                        </p:treeNode>
                    </p:tree>
                </p:scrollPanel>
            </h:form>
        </p:layoutUnit>

        <p:layoutUnit id="vtpTabL" position="center">
            <h:form id="schedulerVTPForm">
                <!--  -->
                <p:dataTable id="vtpTab" var="vtp" widgetVar="vtpTable" value="#{testCasesView.testCases}" rows="5"
                             paginator="true" filteredValue="#{testCasesView.filteredTestCases}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" lazy="false"
                             scrollable="true"
                             update="schedulerTabView:vtpHierForm:btnDisplay schedulerTabView:vtpHierForm:btnDisplayAll"
                             resizableColumns="false" liveResize="false" draggableColumns="true"
                        >

                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Search all fields:"/>
                            <p:inputText id="globalFilter" onkeyup="PF('vtpTable').filter()" style="width:150px"
                                         placeholder="Enter keyword"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column style="width:16px">
                        <p:rowToggler rendered="#{vtp.designStatements.size() gt 0}"/>
                    </p:column>

                    <p:column headerText="Id" filterBy="#{vtp.id}" filterMatchMode="contains" resizable="true" style="width:64px">
                        <h:outputText value="#{vtp.id}"/>
                    </p:column>

                    <p:column headerText="Description" filterBy="#{vtp.description}" filterMatchMode="contains">
                        <h:outputText value="#{vtp.description}"/>
                    </p:column>

                    <p:column headerText="Precondition" filterBy="#{vtp.precondition}" filterMatchMode="contains">
                        <h:outputText value="#{vtp.precondition}"/>
                    </p:column>

                    <p:column headerText="Input" filterBy="#{vtp.testInput}" filterMatchMode="contains">
                        <h:outputText value="#{vtp.testInput}"/>
                    </p:column>

                    <p:column headerText="Output" filterBy="#{vtp.testOutput}" filterMatchMode="contains">
                        <h:outputText value="#{vtp.testOutput}"/>
                    </p:column>

                    <p:column headerText="Result" filterBy="#{vtp.result}">
                        <h:outputText value="#{vtp.result}"/>
                    </p:column>

                    <p:rowExpansion>
                        <p:panelGrid columns="1" columnClasses="label" style="width:300px">
                            <f:facet name="header">
                                <h:outputText value="Design statements"/>
                            </f:facet>

                            <ui:repeat value="#{vtp.designStatements}" var="dstc">
                                <p:commandButton value="#{vtpds}"
                                                 actionListener="#{testCasesView.setTempDS(vtpds)}"
                                                 update="schedulerTabView:schedulerVTPForm:detDialog"
                                                 oncomplete="PF('detailsDialog').show();"
                                                 style="width:300px">
                                </p:commandButton>
                            </ui:repeat>
                        </p:panelGrid>
                    </p:rowExpansion>

                </p:dataTable>

                <p:dialog id="detDialog" header="#{testCasesView.tempDS}" widgetVar="detailsDialog"
                          showEffect="explode" hideEffect="clip" width="60%">

                    <p:dataGrid var="designStatement" value="#{testCasesView.tempDSData}" columns="1" layout="grid"
                                rows="1" paginator="false">

                        <p:outputPanel>
                            <h:panelGrid columns="2" cellpadding="5">
                                <h:outputText value="Id:"/>
                                <h:outputText value="#{designStatement.id}" style="font-weight: bold"/>

                                <h:outputText value="Description:"/>
                                <h:outputText value="#{designStatement.statement}" style="font-weight: bold"/>

                                <h:outputText value="Precondition:"/>
                                <h:outputText value="#{designStatement.risk}" style="font-weight: bold"/>

                                <h:outputText value="Input:"/>
                                <h:outputText value="#{designStatement.release}" style="font-weight: bold"/>

                            </h:panelGrid>
                        </p:outputPanel>
                    </p:dataGrid>
                </p:dialog>

            </h:form>
        </p:layoutUnit>
    </p:layout>

</ui:composition>