<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>MedDoors</title>
    <link
            href="${facesContext.externalContext.requestContextPath}/resources/css/default.css"
            rel="stylesheet" type="text/css"/>
    <link
            href="${facesContext.externalContext.requestContextPath}/resources/css/cssLayout.css"
            rel="stylesheet" type="text/css"/>

    <ui:insert name="head"></ui:insert>

</h:head>

<h:body>
    <p:layout fullPage="true">
        <p:layoutUnit position="north" size="30" resizable="false" closable="false" collapsible="false">
            <h1>MedDoors</h1>
        </p:layoutUnit>

        <p:layoutUnit position="south" size="20" resizable="false" closable="false" collapsible="false">
            <h:outputText value="Version 0.1, 03.05.2015"/>
        </p:layoutUnit>

        <!--p:layoutUnit position="west" size="200" header="Menu" resizable="true" closable="false" collapsible="true">
            <h:form>
                <ui:insert name="dsIndex">Put default content here, if any.</ui:insert>
            </h:form>
        </p:layoutUnit-->

        <p:layoutUnit position="center" resizable="true">
            <ui:insert name="content">Put default content here, if any.</ui:insert>
        </p:layoutUnit>
    </p:layout>
</h:body>

</html>