<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>


<ui:composition template="WEB-INF/template.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-datatable table {
                table-layout: fixed;
            }
        </style>
    </ui:define>


    <ui:define name="content">
        <p:tabView dynamic="false" cache="true" id="schedulerTabView">
            <p:tab title="Test cases">
                <ui:include src="WEB-INF/modules/schedulerVTP.xhtml"/>

            </p:tab>

            <p:tab title="Design statements">
                <ui:include src="WEB-INF/modules/schedulerDS.xhtml"/>
            </p:tab>
        </p:tabView>
    </ui:define>
    
</ui:composition>
</body>
</html>